div {
    margin-top: 20px;
    width: 456px;
    border: solid 1px transparent;
}

div > div {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: solid 2px gray;
    margin: 5px;
    text-align: center;
    font: bold 24px/100px Tahoma,sans;
    border-radius: 10px;
    background-color: whitesmoke;
}

.empty {
    opacity: 0;
}